/* 
Workspace
*/
.workspace {
  @apply relative flex flex-auto flex-col mt-20 px-5 pt-5;

  &_with-sidebar {
    @apply overflow-y-auto;
    height: calc(100vh - 5rem);
  }
}

@media screen(md) {
  .workspace {
    @apply px-10 pt-10;
  }
}
/*
Cards
*/
.dark .card {
  &_hoverable {
    &:hover {
      @apply bg-primary bg-opacity-5;
    }
  }

  &_selected {
    @apply bg-primary bg-opacity-5;

    &:hover {
      @apply bg-primary bg-opacity-5;
    }
  }
}

.card {
  @apply rounded-xl bg-foreground shadow;

  &_hoverable {
    &:hover {
      @apply bg-primary-50;
    }
  }

  &_selected {
    @apply bg-primary-50;

    &:hover {
      @apply bg-primary-50;
    }
  }

  &_row {
    @apply flex flex-col w-full;

    .image {
      @apply relative m-5;
      min-width: 180px;

      img {
        @apply object-cover;
      }
    }

    .header {
      @apply self-center m-5 mt-0;
    }

    .body {
      @apply flex flex-col p-5 whitespace-nowrap border-t border-divider;
    }

    .actions {
      @apply flex p-5 border-t border-divider;
    }
  }

  &_column {
    @apply flex flex-col w-full;

    .image {
      @apply relative m-5;

      img {
        @apply object-cover;
      }
    }

    .header {
      @apply m-5 mt-0;
    }

    .body {
      @apply flex flex-col mt-auto p-5 whitespace-nowrap border-t border-divider;
    }

    .actions {
      @apply flex p-5 border-t border-divider;
    }
  }

  &_list {
    @apply flex items-center p-5;

    .image {
      @apply flex-shrink-0 bg-primary;
      width: 80px;
      height: 80px;

      img {
        @apply w-full h-full object-cover;
      }

      &_icon {
        @apply flex items-center justify-center bg-transparent;
      }
    }

    .body {
      @apply mx-5;
    }

    .actions {
      @apply ml-auto;
    }
  }
}

@media screen(lg) {
  .card {
    &_row {
      @apply flex-row;

      .header {
        @apply ml-0 mt-5;
      }

      .body {
        @apply ml-auto border-t-0 border-l text-right;
      }

      .actions {
        @apply flex-col border-t-0 border-l;
      }
    }
  }
}

[dir="rtl"] {
  .card {
    &_list {
      .actions {
        @apply ml-0 mr-auto;
      }
    }
  }

  @media screen(lg) {
    .card {
      &_row {
        .header {
          @apply ml-5 mr-0;
        }

        .body {
          @apply ml-0 mr-auto border-l-0 border-r;
        }

        .actions {
          @apply border-l-0 border-r;
        }
      }
    }
  }
}

/*
Button Group
*/
.dark .btn-group {
  .btn {
    + .btn:not(.btn_outlined) {
      @apply border-l-gray-900;
    }
  }
}

.btn-group {
  @apply inline-flex;

  .btn {
    + .btn:not(.btn_outlined) {
      @apply border-l-white;
    }

    &:not(:first-of-type) {
      @apply rounded-tl-none rounded-bl-none;
    }

    &:not(:last-of-type) {
      @apply rounded-tr-none rounded-br-none;
    }
  }

  .btn_outlined {
    + .btn {
      @apply border-l-0;
    }
  }
}

[dir="rtl"] {
  .btn-group {
    .btn {
      + .btn:not(.btn_outlined) {
        @apply border-l-transparent border-r-white;
      }

      &:not(:first-of-type) {
        @apply rounded-tr-none rounded-br-none;
      }

      &:first-of-type {
        @apply rounded-tr-full rounded-br-full;
      }

      &:not(:last-of-type) {
        @apply rounded-tl-none rounded-bl-none;
      }

      &:last-of-type {
        @apply rounded-tl-full rounded-bl-full;
      }
    }

    .btn_outlined {
      + .btn {
        @apply border-l border-r-0;
      }
    }
  }

  &.dark {
    .btn-group {
      .btn {
        + .btn:not(.btn_outlined) {
          @apply border-r-gray-900;
        }
      }
    }
  }
}

/*
Tab
*/
.tab-nav {
  @apply flex flex-nowrap border-b border-divider;

  a,
  .nav-link {
    @apply relative inline-block pb-1 font-heading font-bold;

    &:before {
      @apply absolute;
      content: "";
    }

    &.active {
      @apply text-primary;

      &:before {
        @apply h-1 right-0 left-0 bg-primary rounded-full;
        bottom: -2px;
      }
    }

    + a,
    + .nav-link {
      @apply ml-4;
    }
  }
}

[dir="rtl"] {
  .tab-nav {
    a,
    .nav-link {
      + a,
      + .nav-link {
        @apply ml-0 mr-4;
      }
    }
  }
}

