/* 
Workspace
*/
.workspace {
    @apply relative flex flex-auto flex-col mt-20 px-5 pt-5;
  
    &_with-sidebar {
      @apply overflow-y-auto;
      height: calc(100vh - 5rem);
    }
  }
  
  @media screen(md) {
    .workspace {
      @apply px-10 pt-10;
    }
  }
  
  /*
Tab
*/
.tab-nav {
    @apply flex flex-nowrap border-b border-divider;
  
    a,
    .nav-link {
      @apply relative inline-block pb-1 font-heading font-bold;
  
      &:before {
        @apply absolute;
        content: "";
      }
  
      &.active {
        @apply text-primary;
  
        &:before {
          @apply h-1 right-0 left-0 bg-primary rounded-full;
          bottom: -2px;
        }
      }
  
      + a,
      + .nav-link {
        @apply ml-4;
      }
    }
  }
  
  [dir="rtl"] {
    .tab-nav {
      a,
      .nav-link {
        + a,
        + .nav-link {
          @apply ml-0 mr-4;
        }
      }
    }
  }