/* 
Label
*/
.label {
  @apply text-sm font-bold;
}

/* 
Custom Select
*/
.custom-select {
  @apply relative;

  &-icon {
    @apply absolute flex items-center top-0 right-0 bottom-0 mr-4 text-placeholder;
  }
}

[dir="rtl"] {
  .custom-select {
    &-icon {
      @apply right-auto left-0 mr-0 ml-4;
    }
  }
}

.form-control-addon-within {
  @apply flex bg-input border border-border rounded w-full overflow-hidden;

  &:focus-within {
    @apply border-primary;
  }
}

/* 
Input
*/
.form-control {
  @apply appearance-none bg-input border border-border rounded w-full py-2 px-4;

  &:focus {
    @apply outline-none shadow-none border-primary;
  }

  &::placeholder {
    @apply text-placeholder;
  }
}
/*
Switch
*/

.switch {
  @apply relative flex items-center font-normal cursor-pointer;

  input {
    @apply absolute top-0 opacity-0;

    + span {
      @apply relative flex items-center top-0 left-0 w-10 h-6 bg-gray-300 rounded-full;
      @apply transition-all duration-200 ease-linear;

      &:before {
        @apply block w-4 h-4 ml-1 bg-white rounded-full;
        content: "";
        @apply transition-all duration-200 ease-linear;
      }

      + span {
        @apply ml-2;
      }
    }

    &:checked {
      + span {
        @apply bg-primary;

        &:before {
          @apply border-primary;
          margin-left: calc(1.25rem - 1px);
        }
      }
    }
  }

  &_outlined {
    input {
      + span {
        @apply bg-transparent border border-gray-300;

        &:before {
          @apply bg-gray-300;
        }
      }

      &:checked {
        + span {
          @apply bg-transparent border-primary;

          &:before {
            @apply bg-primary;
          }
        }
      }
    }
  }
}

[dir="rtl"] {
  .switch {
    input {
      + span {
        @apply left-auto right-0;

        &:before {
          @apply ml-0 mr-1;
        }

        + span {
          @apply ml-0 mr-2;
        }
      }

      &:checked {
        + span {
          &:before {
            @apply ml-0;
            margin-right: calc(1.25rem - 1px);
          }
        }
      }
    }
  }
}

/*
Avatars
*/
.avatar {
  @apply relative flex flex-shrink-0 items-center justify-center w-12 h-12 rounded-full bg-background border-2 border-gray-600 text-xl;

  img {
    @apply w-full h-full rounded-full object-cover;
  }

  .status {
    @apply absolute bottom-0 right-0 w-4 h-4 border-2 border-white rounded-full;
  }

  &_with-shadow {
    @apply bg-gray-900 border-white shadow text-white;
  }
}

/*
Collapse
*/
.collapsible {
  @apply h-0 opacity-0 overflow-y-hidden;
  @apply transition-all duration-200 ease-linear;

  &.open {
    @apply h-auto opacity-100 overflow-y-auto;
  }
}

/*
Custom Range Slider
*/
.custom-range {
  @apply appearance-none outline-none w-full h-2 bg-gray-300 rounded-full opacity-100;
  @apply transition-all duration-200 ease-linear;

  &::-webkit-slider-thumb {
    @apply appearance-none w-6 h-6 bg-primary border-transparent rounded-full shadow cursor-pointer;
  }

  &::-moz-range-thumb {
    @apply appearance-none w-6 h-6 bg-primary border-transparent rounded-full shadow cursor-pointer;
  }
}


/*
Input Group
*/
.input-group {
  @apply flex w-full;

  .input-group-item {
    &:not(:first-child) {
      @apply rounded-tl-none rounded-bl-none;
    }

    &:not(:last-child) {
      @apply rounded-tr-none rounded-br-none;
    }
  }

  .input-addon {
    @apply inline-flex whitespace-nowrap items-center bg-gray-100 border border-border px-4 rounded text-muted;

    &-prepend {
      @apply border-r-transparent;
    }

    &-append {
      @apply border-l-transparent;
    }
  }

  .btn {
    @apply rounded whitespace-nowrap;

    + .btn {
      @apply border-l-white;
    }
  }

  input {
    + input {
      @apply border-l-transparent;
    }
  }
}

[dir="rtl"] {
  .input-group {
    .input-group-item {
      &:not(:first-child) {
        @apply rounded-tr-none rounded-br-none;
      }

      &:first-child {
        @apply rounded-tr rounded-br;
      }

      &:not(:last-child) {
        @apply rounded-tl-none rounded-bl-none;
      }

      &:last-child {
        @apply rounded-tl rounded-bl;
      }
    }

    .input-addon {
      &-prepend {
        @apply border-l-transparent border-r-border;
      }

      &-append {
        @apply border-r-transparent border-l-border;
      }
    }

    .btn {
      + .btn {
        @apply border-l-transparent border-r-white;
      }
    }

    input {
      + input {
        @apply border-l-border border-r-transparent;

        &:focus {
          @apply border-primary;
        }
      }
    }
  }
}

/*
Accordion
*/
.accordion {
  .accordion-header {
    @apply flex items-center cursor-pointer;

    .collapsible-indicator {
      @apply ml-auto text-2xl leading-none;
      @apply transition-all duration-200 ease-linear;
    }

    &:hover {
      @apply text-primary;
    }

    &.active {
      @apply text-primary;

      .collapsible-indicator {
        @apply transform -rotate-180;
      }
    }
  }
}

[dir="rtl"] {
  .accordion {
    .accordion-header {
      .collapsible-indicator {
        @apply ml-0 mr-auto;
      }
    }
  }
}
